<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<!--<head th:replace="fragment/config::configFragment"></head>-->
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    <div th:replace="fragments/header :: headerFragment" />

    <div layout:fragment="content" />

    <footer th:replace="fragments/footer :: footerFragment" />
    </div>
</body>
</html>
